.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C6548;
    color: white;
    padding: 10px 20px;
    width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #A9C3A0;
    color: #333
}

.navbar a.active {
    background-color: #D3A57A;
    color: white;
    font-weight: bold;
}

.btn-login {
    background-color: #A9C3A0;
    color: #333;
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-login:hover {
    background-color: #D3A57A;
    color: white;
}
